
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Poppins:wght@400;500;600;700;800;900&family=Young+Serif&display=swap");
:root {
  --default-font: poppins, sans-sarif;
}
* {
  font-family: var(--default-font);
}
body {
  max-width: 100vw;
  min-width: 50vw;
}
section {
  margin: 1rem 20rem;
  padding: 5rem;
  color: white;
  background-image: url("../img/Ev\ girl.jpg");
  border: 0.5rem solid beige;
  border-radius: 2rem;
  align-content: center;
  text-align: left;
}
img {
  border: 0.2rem solid white;
  border-radius: 5rem;
  background-image: url(/img/Ev\ girl.jpg);
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: rgb(206, 12, 12);
  color: rgb(233, 82, 27);
}
.Eva {
  text-shadow: 0 -3px rgb(71, 5, 5) ;
}
